src/xml/gen.dtd

// AI Context: This DTD defines the XML schema for wxUiEditor's generator definition files.
// The schema describes how wxWidgets controls, forms, and properties are defined in XML files
// (buttons.xml, forms.xml, sizers.xml, etc.) which wxUiEditor parses to build its internal
// control catalog. Each <gen> element defines a wxWidgets class or interface with properties,
// events, and inheritance relationships. Properties specify control attributes with types
// (string, bool, int, image, etc.) and optional default values. The <inherits> element pulls
// common properties from interface classes defined in interfaces.xml to avoid duplication.
// <option> elements define enumerated choices for option-type properties. <event> elements
// declare wxWidgets event types that controls can handle. These XML files are not built directly
// into wxUiEditor - they are parsed, compressed, and embedded as base64 data in wxue_data.cpp.

<!ELEMENT GeneratorDefinitions ANY>

<!ELEMENT gen ANY>
    <!ATTLIST gen
        class CDATA #REQUIRED
        type CDATA #REQUIRED
    >
    <!ATTLIST gen
        image CDATA #IMPLIED
        flags CDATA #IMPLIED
    >

<!ELEMENT inherits ANY>
    <!ATTLIST inherits class CDATA #REQUIRED>

<!ELEMENT property ANY>
    <!ATTLIST property name CDATA #REQUIRED>
    <!ATTLIST property type (animation | bitlist | bitmap | bool | editoption | file | float | id | image | int | option | path | string | string_edit | string_edit_escapes | string_edit_single | string_escapes | stringlist | uint | uintpairlist | wxColour | wxFont | wxPoint | wxSize) #REQUIRED>
    <!ATTLIST property help CDATA #IMPLIED>

<!ELEMENT option ANY>
    <!ATTLIST option name CDATA #REQUIRED>
    <!ATTLIST option help CDATA #IMPLIED>

<!ELEMENT event ANY>
    <!ATTLIST event
        name CDATA #REQUIRED
        class CDATA #REQUIRED
    >
    <!ATTLIST event help CDATA #IMPLIED>

<!ELEMENT category ANY>
    <!ATTLIST category name CDATA #REQUIRED>
    <!ATTLIST category base_name CDATA #IMPLIED>
